@import "util/variables.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Helvetica, Arial;
  font-size: 16px;
  background: var(--black);
  white-space: pre-wrap;
  overflow-y: scroll;
}

table tbody {
  counter-reset: rowNumber;
}

table tbody tr {
  counter-increment: rowNumber;
}

table tbody tr td:first-child::before {
  content: counter(rowNumber);
}

textarea {
  resize: none;
}

ul {
  margin: 0;
  padding: 0;
}


/* Success Page Components*/

.success-text {
  margin-top: 100px;
  font-size: 2rem;
}

.navigate-button {
  width: 200px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 10px;
  border-style: none;
  border-radius: 30px;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--blue);
}

.navigate-button:hover {
  cursor: pointer;
  color: var(--black);
  background-color: var(--gray);
}


/* Error Message Components */

.error-message {
  font-size: 1.25rem;
  color: var(--red);
}

.offscreen {
  position: absolute;
  left: -9999px;
}


/* Dropdown Menu Components */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: var(--white);
  background-color: var(--blue);
  width: 100px;
  padding: 10px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
}

.dropdown-content-active {
  display: block;
  position: absolute;
  background-color: var(--black);
  min-width: 150px;
  right: 0;
}

.dropdown-content-active li {
  color: var(--white);
  padding: 12px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-content-active li:hover {
  background-color: var(--gray);
  color: var(--black);
}

#dropdown-options .li-sort-asc,
#dropdown-options .li-sort-desc {
  color: var(--green);
}

#dropdown-options .li-sort-asc:hover,
#dropdown-options .li-sort-desc:hover {
  color: var(--black);
}

#dropdown-options .li-sort-asc::after,
#dropdown-options .li-sort-desc::after {
  margin-left: 10px;
}

#dropdown-options .li-sort-asc::after {
  content: "\2191";
}

#dropdown-options .li-sort-desc::after {
  content: "\2193";
}
