/* Entry Table Header Components */

.entries-header-container {
    width: 90vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px auto 0px auto;
}

.entries-header {
    font-size: 2.5rem;
}


/* Entry Table Components */

.entry-table {
    table-layout: fixed;
    width: 90vw;
    border-collapse: collapse;
    margin: 0px auto;
    text-align: left;
    font-size: 1.25rem;
    color: var(--gray);
}

.entry-table thead th {
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray);
}

.entry-table th,
.entry-table td {
    padding: 15px 15px 0px 15px;
}

.entry-table td {
    height: 75px;
}

.entry-table td, 
.entry-table td div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.entry-table td:hover,
.entry-table td div:hover {
    overflow: visible;
    white-space: normal;
    height: auto;
}

.entry-table-number {
    width: 2%;
}

.entry-table-title {
    width: 20%;
}

.entry-table-album {
    width: 15%;
}

.entry-table-player {
    width: 18%;
}

.entry-table-excerpt {
    width: 40%;
}

.entry-table-link {
    width: 5%;
    text-align: center;
}

.entry-song {
    font-weight: 600;
    color: var(--white);
}

.entry-player:hover {
    text-decoration: underline;
    cursor: pointer;
}

.entry-excerpt {
    font-style: italic;
    overflow: visible;
}

.entry-link {
    text-align: center;
}

.icon-spotify {
    width: 40px;
    height: 40px;
    color: var(--green);
}

.icon-spotify:hover {
    cursor: pointer;
    color: var(--white);
}