/* Suggest Page Components */

.suggest-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}

.suggest-description {
    width: 75%;
    height: 20%;
    padding-bottom: 25px;
    font-size: 1.25rem;
}

/* Form Components */

.form-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.form-container .form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
} 

.form-container #input-suggest {
    height: 30px;
    width: 50%;
    max-width: 250px;
    font-size: 1rem;
    border-style: none;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.form-container textarea {
    font-family: sans-serif, Helvetica, Arial;
}

.form-container label {
    font-size: 1.15rem;
    margin-bottom: 5px;
}

.form-error {
    font-size: 1rem;
    color: var(--red);
    margin-bottom: 5px;
}


/* Button Components */

.form-container .form-button {
    padding-top: 25px;
}

.icon-lightbulb {
    width: 1em;
    height: 1em;
    padding-left: 15px;
}

.form-button button {
    height: 50px;
    width: 50%;
    max-width: 250px;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 1.5em;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 30px;
    border-style: none;
}

.form-button button:hover {
    cursor: pointer;
    color: var(--black);
    background-color: var(--gray);
}